html,
body {
    margin: 0 !important;
    padding: 0 !important;
    font-family: 'Montserrat', sans-serif;
}

.left {float: left;}
ul, ol {margin: 0; padding: 0;}


.alpha { margin-left: 0 !important; padding-left: 0 !important; }
.omega { margin-right: 0 !important; padding-right: 0 !important; }


.container.parent {margin: 0; padding: 0;}
.container.full-width, .full-width {width: 100% !important;}

/*
.carousel-indicators {bottom: auto; left: auto; right: 20px; top: 30%;width: auto;}
.carousel-indicators li {display: list-item;}
.carousel-indicators li, .carousel-indicators li.active {width: 20px; height: 20px; margin: 10px 0;}
*/

.topBar {background-color: rgba(0, 0, 0, .6); padding: 0; margin: 0;position: absolute; top: 0px; width: 100%; min-height: 35px;}
.leftBar {background-color: rgba(0, 0, 0, .6); position: absolute; top: 35px; min-width: 143px; height: 100%;}
.rightBar {position: absolute; top: 35px; height: auto;}
.topBar .mobile-nav-toggle {
    float: right;
    padding-right: 30px;
    padding-top: 10px;
}
.topBar .mobile-nav-toggle a{
    color: white;
    display: block;
    padding: 20px;
    background-color: rgb(196, 26, 30);
    text-decoration: none;
}

.mobile-nav{
    background-color: rgb(196, 26, 30);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 40%;
}

.mobile-nav ul{
    text-align: center;
    list-style: none;
    padding-top: 30%;
    display: flex;
    justify-content:center;
    flex-direction: column;
}

.mobile-nav ul li{
    color: white;
    padding: 15px;
    /*padding: 30px;*/
}

.mobile-nav ul a{
    color: white;
}

.mobile-nav-clubs ul a{
    color: white;
}

.mobile-nav-clubs{
    background-color: rgb(196, 26, 30);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 40%;
}

.mobile-nav-clubs ul{
    text-align: center;
    list-style: none;
    padding-top: 30%;
}

.mobile-nav-clubs ul li{
    color: white;
    padding: 15px;
}

@media screen and (max-width: 765px) {
    .leftBar{
        display: none;
    }
    .page-title{
        margin-left: 10% !important;
        width: 85% !important;
        top: 10% !important;
    }
    .rightBar{
        display: none;
    }

    .topBar{
        height: 80px !important;
    }

    .topBar .mobile-nav-toggle {
        display: block !important;
    }

    .mobile-nav{
        /*display: block !important;*/
    }

    .mobile-nav-clubs{
        /*display: block !important;*/
    }

}

.jspVerticalBar
{
    width: 10px;
    background: transparent;
}

.jspVerticalBar .jspTrack
{
    background: transparent;
}

.jspVerticalBar .jspDrag
{
    background: transparent;
    border-right: 2px solid #00f;
}


/* Logo START */
.logo {padding: 10px 0px 10px 0px; }
/*.logo a {display: block; width: 149px; height: 150px; margin: 0 auto;  text-indent: -99999px;}*/
.logo {
    display: block;
    margin-left: auto;
    margin-right: auto
}
/* Logo END */


/* Navigation START */
.navigation {margin: 0; padding: 0; z-index: 8000; position: relative;}
.navigation li { display: block;}
.navigation li:after {content: " "; border-bottom: 1px #818181 solid; display: block; width: 80%; margin: 0 auto;}
.navigation li:last-child:after {border-bottom: none;}
.navigation li a {color: #e8ad05; text-transform: uppercase; font-size: 15px; display: block; padding: 20px 30px;}
.navigation li a:hover{text-decoration: none; background-color: rgba(157, 18, 18, .8); -webkit-transition: background-color 200ms linear; -moz-transition: background-color 200ms linear; -o-transition: background-color 200ms linear; -ms-transition: background-color 200ms linear; transition: background-color 200ms linear;}

/* Sub Menu */
.navigation .sub-menu {background: url('../images/nav-sub-hover-bg.png') repeat; position: absolute; /*top: 62px;*/ z-index: 966; display: none;}
.navigation .sub-menu li a {padding: 15px 30px; background-color: transparent; font-size: 13px;}
.navigation .sub-menu li a:hover {background-color: rgba(157, 18, 18, .8); -webkit-transition: background-color 200ms linear; -moz-transition: background-color 200ms linear; -o-transition: background-color 200ms linear; -ms-transition: background-color 200ms linear; transition: background-color 200ms linear;}
/* Navigation END */

/* Footer START */
footer {font-size: 12px; color: #6C6968; text-transform: uppercase; background-color: rgba(0, 0, 0, 1); position: absolute; width: 100%; min-height: 25px; padding-top: 10px; bottom: 0;}
/* Footer END */

.council-nav {
	text-align: center;
}

.social {
    position: fixed;
    top: calc(50% - 132px);
    right: 10px;
    height: 235px;
    width: 60px;
}
.social a {
      position: relative;
      float: right;
      height: 50px;
      line-height: 50px;
      width: 50px;
      color: rgb(255, 255, 255);
      background-color: rgb(196, 26, 30);
      font-size: 16px;
      text-align: center;
      margin-top: 7px;
      margin-bottom: 7px;
      border-radius: 50%;
      transition: all 300ms ease;
}

/* Social Icons Css */
.fb{
  background-color: #3F5C9A!important;
}
.fb:hover{
  -webkit-transform: scale(1.1) rotate(360deg);
  -moz-transform: scale(1.1) rotate(360deg);
  -ms-transform: scale(1.1) rotate(360deg);
  -o-transform: scale(1.1) rotate(360deg);
  transform: scale(1.1) rotate(360deg);
}
.gp{
  background-color: #DB4437!important;
}
.gp:hover{
  -webkit-transform: scale(1.1) rotate(360deg);
  -moz-transform: scale(1.1) rotate(360deg);
  -ms-transform: scale(1.1) rotate(360deg);
  -o-transform: scale(1.1) rotate(360deg);
  transform: scale(1.1) rotate(360deg);
}
.inst{
  background-color:#A1755C!important;
}
.inst:hover{
  -webkit-transform: scale(1.1) rotate(360deg);
  -moz-transform: scale(1.1) rotate(360deg);
  -ms-transform: scale(1.1) rotate(360deg);
  -o-transform: scale(1.1) rotate(360deg);
  transform: scale(1.1) rotate(360deg);
}
.yt{
  background-color:#C52F30!important;
}
.yt:hover{
  -webkit-transform: scale(1.1) rotate(360deg);
  -moz-transform: scale(1.1) rotate(360deg);
  -ms-transform: scale(1.1) rotate(360deg);
  -o-transform: scale(1.1) rotate(360deg);
  transform: scale(1.1) rotate(360deg);
}

.clubs-trans-div{
    background: transparent
}
.nav-tabs {
    border-width: 0px;
    padding-left: 50%;
    margin-left: -200px;
}
.nav-tabs {
    border-bottom: 1px solid #ddd;
}
.nav-tabs li a{
    color: white;
}
.nav-tabs li a:hover{
    color: #555;
}

/* team page*/
.page-title {
  position: absolute;
  top: 8%;
  height: auto;
  text-align: center;
  width: 60%;
  padding: 0
}

.clubs-trans-div ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.scroll-title{
    color: #e8ad05;
    background-color:rgba(0, 0, 0, .6);
    padding:10px;
    position: relative;
}

.scroll-title p{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

/*IMPROVE THIS*/

.scroll-title::before{
    content: " ";
    margin-left: 6%;
    width: 20%;
    border-bottom: 1px #fff solid;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 50%;
}

.scroll-title::after{
    content: " ";
    margin-right: 6%;
    width: 20%;
    border-bottom: 1px #fff solid;
    display: inline-block;
    position: absolute;
    right: 0;
    top: 50%;
}

.scrollBar{
  width: 100%;
  /*height: 450px !important;*/
  overflow-y: scroll;
  /*opacity: 0.8;*/
  background-color:rgba(0, 0, 0, .57);
  font-size: 18px;
  color: #b7b7b7;
}


.scrollBar a{
    color: #e8ad05;
}

.clubs-content{
    /*background-color:   rgba(0,0,0,0.5);*/
}

#scrollbox::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
  background-color: rgba(0, 0, 0, 1);
  border-radius: 10px;
}

#scrollbox::-webkit-scrollbar
{
  width: 10px;
  background-color: rgba(0, 0, 0, 1);
}

#scrollbox::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  background-color: #FFF;
  background-image: -webkit-gradient(linear,
                     40% 0%,
                     75% 84%,
                     from(#e8ad05),
                     to(#e8ad05),
                     color-stop(.6,#e8ad05))
}



/* Media Queries START */
@media screen and (max-width: 1366px) {
	.navigation li a {font-size: 13px; padding: 16px 30px;}
	.navigation .sub-menu {top: 0px;}
	.navigation .sub-menu li a {padding: 12px 30px; font-size: 13px;}
}

@media screen and (max-width: 1200px) {
	.logo {padding: 0px 0 5px 0px;}

	.navigation li a {font-size: 14px; padding: 15px 30px;}
	.navigation .sub-menu li a {padding: 12px 30px; font-size: 12px;}
}


@media screen and (max-height: 550px) {
  #cultlogo {display: none;}
  .navigation {margin-top: 25px;}
	/*.leftBar {height: 500px !important; min-height: 500px !important;}*/
	/*.navigation li a, .navigation .sub-menu li a {font-size: 11px; padding: 5px 30px;}
	.navigation .sub-menu {top: 26px;}*/

}
/* Media Queries END */


.gallery-img{
    max-height: 200px;
}

.left {
    float: left;
}

.right{
    float: right;
}

a{
    color: black;
    text-decoration: none;
}

#gallery-container{
    margin: 0;
    padding: 0;
}

.gallery-box:nth-child(2n+1) {
    clear: both;
    margin-left: 0;
}

.gallery-box{
    list-style-type: none;
    float: left;
    margin-bottom: 1rem;
    margin-left: 1%;
    margin-right: 1%;
    width: 48%;
    opacity: 1;
}

.gallery-box a{
    display: block;
    width: 100%;
    height: auto;
}

.gallery-box a img {
    display: block;
    width: 100%;
    height: auto;
    vertical-align: bottom;
}

/*Team*/

#core-team {
    display: flex;
    justify-content: space-around;

}

#core-team li{
    display: inline;
    width: 200px;
    height: 220px;
}

.our-team{
    position: relative;
    text-align: center;
    overflow: hidden;
    margin: 0;
    box-shadow: 0 0 5px #808080;
}


.team-content{
    width: 200px;
    height: 220px;
    position: absolute;
    top: 0;
    left: 0;
    padding: 40px 20px;
    background: #301027;
    /*opacity: 0;*/
}
/*.our-team:hover .team-content{
    opacity: 1;
}*/
.our-team .team-prof{
    margin: 20px 0;
    position: relative;
    top: 13%;
    font-size: 20px;
    /*font-weight: bold;*/
    color: #e8ad05;
    letter-spacing: 1px;
    text-transform: capitalize;
}
.our-team .team-prof small{
    display: block;
    font-size: 13px;
    color: #b7b7b7;
    margin-top: 10px;
    text-transform: uppercase;
}
.our-team .social-link{
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    top: 13%;
}
.our-team .social-link li{
    margin-right: 5px;
    display: inline-block;
}
.our-team .social-link li a{
    width: 35px;
    height: 35px;
    line-height: 35px;
    border-radius: 5px;
    color: #fff;
    background: rgba(0, 0, 0, 0.3);
}
.our-team .social-link li a:hover{
    background: #fff;
    color: #333;
    text-decoration: none;
}

/*Schedule*/

.schedule thead  tr{
    color: #e8ad05;
}

.schedule thead  tr th{
    text-align: center;
}


@media only screen and (max-width: 990px){
    .our-team{ margin-bottom: 20px; }
}
