.eh{
font-size:30px;
color: #632423;
}
.esh
{
font-size:25px;
color: #632423;
}
.xinfo{

}
.evh{
font-size:25px;
color: #984806;
}
.evsh{
font-size:20px;
color: #984806;
}

.evbsh{
font-size:10px;
color: #000000	
	
}

.tmesh{
font-size:15px;
color: #190100;
	
}
.einfo{

}
.rnr{

}
.jc{

}
.jt{
border-width: 2px;
  border-style: solid;
  border-color: black;
}
.xnote{

}